# Ignore everything by default
*

# Un-ignore these project files and folders
!.gitignore
!README.md
!readme.md
!src/
!src/*.py

# Include Downloads selectively
!Downloads/
!Downloads/Yoshi_Tacke_CV_*.txt
!Downloads/Yoshi_Tacke_Cover_Letter.txt
!Downloads/.claude/

# Ignore logs, backups, and personal data
data/
*.log
*.bak
*_backup*
